<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>juice store</title>
    <link rel="stylesheet" href="{% static 'stylesheets/style3.css' %}">
    <link rel="stylesheet" href="{% static 'stylesheets/style2.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
</head>

<body style="background: url({% static 'images/home2.jpg' %});background-position: center;background-size: cover;">

<header>

        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
          <a class="navbar-brand" href="#"><h2 style="font-size: 60px">Juice Hub</h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-lg-auto">
              <li class="nav-item">
                <a class="nav-link text" href="/myapp/home2">My profile</a>
              </li>
              <li class="nav-item active ">
                <a class="nav-link" href="#">My orders<span class="sr-only">(current)</span></a>
              </li>
                 <li class="nav-item ">
                <a class="nav-link" href="#">Offers</a>
              </li>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/myapp/logout">Logout</a>
              </li>
            </ul>

          </div>
      </div>
</nav>


</header>
<section class="mainsec">
    <div class="container">
    <div class="row" style="padding-bottom: 20px;">
            <form action="/myapp/searched" method="post">
                {% csrf_token %}
            <div class="input-group">
                 <div class="form-outline">
                    <input type="search" id="form1" class="form-control" placeholder="search" name="search"/>
                </div>
                <button type="submit" class="btn btn-success">
                     <i class="fas fa-search"></i>
                </button>
            </div>
                <p class="text-success" style="font-size: 25px">search results
                    {% for i in searched_item %}
                         <h1>{{ i.item_location }}</h1>
                    {% endfor %}
                </p>
            </form>
    </div>

        <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th class="text-success" style="font-family: 'Arial Black';font-weight: 500; font-size: 25px">item_id</th>
        <th class="text-success" style="font-family: 'Arial Black';font-weight: 500; font-size: 25px">item_name</th>
        <th class="text-success" style="font-family: 'Arial Black';font-weight: 500; font-size: 25px">item_count</th>
          <th class="text-success" style="font-family: 'Arial Black';font-weight: 500; font-size: 25px">location</th>
          <th class="text-success" style="font-family: 'Arial Black';font-weight: 500; font-size: 25px">contact</th>
          <th class="text-success" style="font-family: 'Arial Black';font-weight: 500; font-size: 25px">edit</th>
          <th class="text-success" style="font-family: 'Arial Black';font-weight: 500; font-size: 25px">delete</th>
      </tr>
    </thead>
      {% for i in list %}
    <tbody>
      <tr>
        <td>{{ i.item_id }}</td>
        <td>{{ i.item_name }}</td>
        <td>{{ i.item_count }}</td>
          <td>{{ i.item_location }}</td>
          <td>{{ i.item_contact}}</td>
          <td><a href="/myapp/edit/{{ i.item_id }}" style="color: white">edit</a></td>
          <td><a href="/myapp/deletes/{{ i.item_id }}" style="color: white">delete</a></td>


      </tr>
    </tbody>
  {% endfor %}
  </table>
    </div>
</section>


<footer class="page-footer font-small blue pt-4 foot">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">Juice Hub</h5>
        <p>We provide the best quality fresh juices which helps you to refresh your soul and mind</p>
        <p>24 x 7 services and home delivery available, keep in touch with us</p>
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Follow Us On</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!" style="color: blue"><i class="fab fa-facebook"></i> Facebook</a>
          </li>
          <li>
            <a href="#!" style="color: deepskyblue"><i class="fab fa-twitter-square"></i> Twitter</a>
          </li>
          <li>
            <a href="#!" style="color: mediumvioletred"><i class="fab fa-instagram"></i> Instagram</a>
          </li>
          <li>
            <a href="#!" style="color: white"><i class="fab fa-whatsapp"></i>Whatsapp</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">For more queries contact</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!" style="color: white">+91 9123547896</a>
          </li>
          <li>
            <a href="#!" style="color: white">+91 8123547895</a>

        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2021 Copyright:
    <a href="#">JuiceHub.com</a>
  </div>
  <!-- Copyright -->

</footer>





<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>